name: Hello world workflow

on:
  push:
    branches:
      - main

jobs:
  print-hello-world:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Print files in folder
        run: |
          pwd
          ls -a

      - name: Print Hello
        run: echo "Hi, you're pushed to the main branch"
