name: Hello world workflow

on:
  push:
    branches:
      - main
	
jobs:
  print-hello-world:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        
      - name: print files in folder
        run: |
          echo pwd
          echo ls -a
          
      - name: Print Hello
        run: echo "Hi your pushed to main branch"
			  
			
